body{
	background: #CCC1C1;
	font-family: fantasy;
	margin: 0;
}
/*titulo de la pagina*/
h1.center{
	text-align: center;
	color: #7A19E8;
	font-weight: bold;
}

.container{
	margin: 0 40px;
	background: #4E4343;
}

img.imagen{
	width: 500px;
	height: 200px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}